<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 每月一号统计上月的月账单 -->
	<bean id="saveStatistic4CustJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="payMonth4LoginerService" />
		<property name="targetMethod" value="saveStatistic4Cust" />
		<property name="concurrent" value="false" />
	</bean>
	<bean id="saveStatistic4CustCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="saveStatistic4CustJobDetail" />
		<property name="cronExpression" value="0 5 0 1 * ?" />
	</bean>
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="saveStatistic4CustCronTrigger" />
			</list>
		</property>
	</bean>

</beans>
